.TituloPeso{
  font-family: 'Chewy', cursive;
  color: #1900FF;
  text-align: center;
  margin-bottom: 20px;
}
.Logp{
  width: 70px;
  height: 55px;;
}
.form-control{
  display: block;
  margin: auto;
  margin-bottom: 40px;
}

.Casillas{
  
}



.mt-5{
  text-align: center;
}

 

 