.TituloMujer{
  font-family: 'Chewy', cursive;
  color: #1900FF;
  text-align: center;
  margin-bottom: 20px;
}

.form-control{
  display: block;
  margin: auto;
  margin-bottom: 40px;
}

.Casillas{
  width: 50%;
  height: 100px;
  font-size: 20px;
  font-family: 'Bree Serif', serif;
  display: block;
  margin: auto;
}

.Boton{
  background-color: #D3B4FC;
  border-color: #FEE5FF;
  color: black;
  width: 150px;
  height: 40px;
  font-size: 17px;
  font-family: 'Bree Serif', serif;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

.mt-5{
  text-align: center;
}